# Bazel
/bazel-*
/MODULE.bazel.lock

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# C++ build artifacts
*.o
*.so
*.a
*.dylib
*.dll

# LibTorch
libtorch/

# Generated protobuf
*_pb2.py
*_pb2_grpc.py
*.pb.h
*.pb.cc

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
.DS_Store

experiment/venv
